html,
body {
  height: 100%;
  background-color: #f9fafb;
  box-sizing: border-box;
  font-family: 'Poppins';
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

p {
  margin: 0px;
}

.body-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100%;
  width: 100%;
}

/*** Side Banner  ***/

.side-banner {
  position: relative;
}

.side-banner > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.side-banner > p {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

.side-banner > p > a:link {
  color: white;
}

.side-banner > p > a:visited {
  color: white;
}

.banner-title {
  position: absolute;
  top: 200px;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner-title > p {
  color: white;
  font-size: 64px;
  font-family: 'Comfortaa';
  text-align: center;
}

/*** Main Content ***/

.main-content {
  display: grid;
  grid-template-rows: 30% 70%;
  margin: auto 0;
  height: 65%;
}

.main-content > aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 128px 16px 32px;
  font-size: 20px;
}

.main-content > aside > p {
  margin-bottom: 16px;
}

/*** Sign Up ***/

.sign-up {
  display: grid;
  grid-template-rows: 75% 25%;
}

.sign-up > div:first-child {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 250px 250px;
  column-gap: 64px;
  padding: 12px 32px;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.2);
  background-color: #fff;
}

.sign-up > div:first-child > div > input {
  width: 250px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
  padding: 4px;
  background-color: rgb(250, 250, 250);
}

.sign-up > div:first-child > div > label {
  color: rgb(73, 73, 73);
}

.sign-up > div:first-child > h1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.sign-up > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 32px;
}

.sign-up > div:last-child > button {
  margin: 16px 0px;
  align-self: start;
  min-height: 44px;
  padding: 0.25em 1.5em;
  border: 0px;
  border-radius: 8px;
  background-color: #5a8b5d;
  color: white;
  font-weight: bold;
}

.sign-up > div:last-child > button:hover {
  background-color: #4b744e;
  transition: 150ms;
}
